# Node modules folder
/node_modules/

# .env file untuk variabel environment (seperti DATABASE_URL, API keys, dll.)
.env

# Log files
*.log

/prisma/generated/
/prisma/migrations/

# OS specific files
.DS_Store         # macOS
Thumbs.db         # Windows

# VS Code settings
.vscode/

# MacOS-specific
*.swp

# Temp files
*.tmp
*.bak

# File debug
debug/
/generated/prisma
